<div>
    <h2><span>PH:</span> {{vm.person.name}} {{vm.person.surname}} ({{vm.person.login}}) id:{{vm.person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span></span></dt>
        <dd>
            <span>sprzedaż w tym miesiącu</span><h6>Suma jest liczona tylko z obecnego miesiąca. * - 1/2</h6>
        </dd>
        <dt><span>2L NGAZ</span></dt>
        <dd>
            <span>{{vm.target01}}</span>
        </dd>
        <dt><span>2L GAZ</span></dt>
        <dd>
            <span>{{vm.target02}}</span>
        </dd>
        <dt><span>0,33L*</span></dt>
        <dd>
            <span>{{vm.target03}}</span>
        </dd>
        <dt><span>0,33L CYT*</span></dt>
        <dd>
            <span>{{vm.target04}}</span>
        </dd>
        <dt><span>Gratisy</span></dt>
        <dd>
            <span>{{vm.target05}}</span>
        </dd>
        <dt><span>2L NGAZ (BIAŁA)</span></dt>
        <dd>
            <span>{{vm.target06}}</span>
        </dd>
        <dt><span>0,75L SPORT*</span></dt>
        <dd>
            <span>{{vm.target07}}</span>
        </dd>
        <dt><span>0,33L SZKŁO*</span></dt>
        <dd>
            <span>{{vm.target08}}</span>
        </dd>
        <dt><span></span></dt>
        <dd>
            <span>sprzedano <b>{{vm.sumAll}}</b> z {{vm.targetMain}} ({{vm.sumAllPercent}}%)</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="person-detail.edit({id:vm.person.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
<br/>
<h3>Raporty PH</h3>
<div class="row">
    <div class="col-md-5">
        <p class="input-group">
            <span class="input-group-addon">data od</span>
            <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate"
                   ng-change="vm.loadAll()" required/>
            <span class="input-group-addon">data do</span>
            <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.loadAll()"
                   required/>
        </p>
    </div>
</div><br>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="date" width="90px"><span>Data</span> <span class="glyphicon glyphicon-sort"></span></th>

            <th jh-sort-by="z_a"><span translate="cechiniApp.raport.z_a">2L NGAZ</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_b"><span translate="cechiniApp.raport.z_b">2L GAZ</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_c"><span translate="cechiniApp.raport.z_c">0,33L</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_d"><span translate="cechiniApp.raport.z_d">CYT</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_e"><span translate="cechiniApp.raport.z_e">Gratisy</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_f"><span translate="cechiniApp.raport.z_f">2L NGAZ (BIAŁA)</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_g"><span translate="cechiniApp.raport.z_g">0,75L SPORT</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_h"><span translate="cechiniApp.raport.z_h">0,33L SZKŁO</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="description"><span>Opis</span> <span class="glyphicon glyphicon-sort"></span></th>

            <th jh-sort-by="foto1"><span>Zdjęcia</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="raport in vm.raports track by raport.id">
            <td><a ui-sref="raport-detail({id:raport.id})">{{raport.id}}</a></td>

            <td>{{raport.date | date:'yyyy-MM-dd'}}</td>
            <td>{{raport.z_a}}</td>
            <td>{{raport.z_b}}</td>
            <td>{{raport.z_c}}</td>
            <td>{{raport.z_d}}</td>
            <td>{{raport.z_e}}</td>
            <td>{{raport.z_f}}</td>
            <td>{{raport.z_g}}</td>
            <td>{{raport.z_h}}</td>
            <td>{{raport.description}}</td>

            <td>
                <a ng-if="raport.foto1" ng-click="vm.openFile(raport.foto1ContentType, raport.foto1)">
                    <img data-ng-src="{{'data:' + raport.foto1ContentType + ';base64,' + raport.foto1}}"
                         style="max-height: 30px;"/>
                </a>
                <a ng-if="raport.foto2" ng-click="vm.openFile(raport.foto2ContentType, raport.foto2)">
                    <img data-ng-src="{{'data:' + raport.foto2ContentType + ';base64,' + raport.foto2}}"
                         style="max-height: 30px;"/>
                </a>
                <a ng-if="raport.foto3" ng-click="vm.openFile(raport.foto3ContentType, raport.foto3)">
                    <img data-ng-src="{{'data:' + raport.foto3ContentType + ';base64,' + raport.foto3}}"
                         style="max-height: 30px;"/>
                </a>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="raport-detail({id:raport.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="raport.edit({id:raport.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="raport.delete({id:raport.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.loadPage(vm.page)"></uib-pagination>
</div>
