<div>
    <h2>Sklepy</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="store.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Dodaj sklep
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <div class="row">
                    <div class="col-md-5">
                        <span class="input-group-addon">Przedstawiciel</span>
                        <select class="form-control" id="field_person" name="person" ng-model="vm.ph" ng-change="vm.loadAll()" ng-options="person as person.surname+' '+person.name for person in vm.people track by person.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <span class="input-group-addon">Grupa sklepu</span>
                        <select class="form-control" id="field_storegroup" name="storegroup" ng-model="vm.storegroup" ng-change="vm.loadAll()" ng-options="storegroup as storegroup.name for storegroup in vm.storegroups track by storegroup.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
				<div class="row">
                    <div class="col-md-5">
                        <span class="input-group-addon">Miasto</span>
                        <select class="form-control" id="field_address" name="address" ng-model="vm.address" ng-change="vm.loadAll()" ng-options="address as address.city for address in vm.addresses track by address.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
					 <th jh-sort-by="person.surname"><span>PH</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Nazwa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span>Miasto</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="street"><span>Ulica</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span>Opis dodatkowy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Opis</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th>Komentarz</th>
                    <th><span>Grupa</span></th>

					 <!--<th jh-sort-by="visited"><span>Odwiedzony w tym miesiącu</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="store in vm.stores track by store.id">
                    <td><a ui-sref="store-detail({id:store.id})">
					<div ng-if="store.id == vm.store_id">
						<font color="red">&hearts;</font>{{store.id}}
					</div>	
					<div ng-if="store.id != vm.store_id">
						{{store.id}}
					</div>	
					
					</a></td>
					 <td>
                        <a ui-sref="person-detail({id:store.person.id})">{{store.person.surname}}</a>
                    </td>
                     <td><div ng-if="!store.visited">
						<font color="red">{{store.name}}</font>
					</div>
					<div ng-if="store.visited">
						{{store.name}}
					</div></td>
                    <td>{{store.address.city}}</td>

                    <td>{{store.street}}</td>
                    <td>{{store.number}}</td>
                    <td>{{store.description}}</td>
					<td>{{store.comment}}</td>
                    <td>{{store.storegroup.name}}</td>
					<!--<td>{{store.visited}}</td>-->

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="store-detail({id:store.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="store.edit({id:store.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="store.delete({id:store.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
    </div>
</div>
