
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEntitytest2Label" translate="jhipsterApp.entitytest2.home.createOrEditLabel">Create or edit a Entitytest 2</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.entitytest2.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.entitytest2.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTest1($file, vm.entitytest2)" ngf-pattern="'image/*'">
            <label class="control-label" translate="jhipsterApp.entitytest2.test1" for="field_test1">Test 1</label>
            <div>
                <img data-ng-src="{{'data:' + vm.entitytest2.test1ContentType + ';base64,' + vm.entitytest2.test1}}" style="max-height: 100px;" ng-if="vm.entitytest2.test1"/>
                <div ng-if="vm.entitytest2.test1" class="help-block clearfix">
                    <span class="pull-left">{{vm.entitytest2.test1ContentType}}, {{vm.byteSize(vm.entitytest2.test1)}}</span>
                    <button ng-click="vm.entitytest2.test1=null;vm.entitytest2.test1ContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTest1($file, vm.entitytest2)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="test1" id="field_test1"
                    ng-model="vm.entitytest2.test1"
                     />
            <input type="hidden" class="form-control" name="test1ContentType" id="field_test1ContentType"
                    ng-model="vm.entitytest2.test1ContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
