<div>
    <h2 translate="jhipsterApp.store.home.title">Stores</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="store.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="jhipsterApp.store.home.createLabel">
                        Create new Store
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="jhipsterApp.store.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="jhipsterApp.store.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.surname"><span translate="jhipsterApp.store.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="store in vm.stores track by store.id">
                    <td><a ui-sref="store-detail({id:store.id})">{{store.id}}</a></td>
                    <td>{{store.name}}</td>
                    <td>{{store.city}}</td>
                    <td>
                        <a ui-sref="person-detail({id:store.person.id})">{{store.person.surname}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="store-detail({id:store.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="store.edit({id:store.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="store.delete({id:store.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
