<div>
    <h2>Trasówki</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="week.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Stwórz trasówki (x)
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Filtrowanie</h4>
                        <p class="input-group">
                            <span class="input-group-addon">data od</span>
                            <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.loadAll()" required/>
                            <span class="input-group-addon">data do</span>
                            <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.loadAll()" required/>
                        </p>
                        <span class="input-group-addon">Przedstawiciel</span>
                        <select class="form-control" id="field_person" name="person" ng-model="vm.ph" ng-change="vm.loadAll()" ng-options="person as person.surname+' '+person.name for person in vm.people track by person.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Nazwa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateBefore"><span>data od</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateAfter"><span>data do</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.surname"><span>PH</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in vm.weeks track by week.id">
                    <td><a ui-sref="week-detail({id:week.id})">{{week.id}}</a></td>
                    <td>{{week.name}}</td>
                        <td>{{week.dateBefore | date:'yyyy-MM-dd'}}</td>
                        <td>{{week.dateAfter | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <a ui-sref="person-detail({id:week.person.id})">{{week.person.surname}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="week-detail({id:week.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="week.edit({id:week.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="week.delete({id:week.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
