
<div>
    <h2><span>Trasówka</span> {{vm.week.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.week.name}}</span>
        </dd>
        <dt><span>data od</span></dt>
        <dd>
            <span>{{vm.week.dateBefore | date:'yyyy-MM-dd'}}</span>
        </dd>
        <dt><span>data do</span></dt>
        <dd>
            <span>{{vm.week.dateAfter | date:'yyyy-MM-dd'}}</span>
        </dd>
        <dt><span>PH</span></dt>
        <dd>
            <a ui-sref="person-detail({id:vm.week.person.id})">{{vm.week.person.surname}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="week-detail.edit({id:vm.week.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
<br/>
<h3>Poszczególne dni trasówki</h3>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="name"><span>Nazwa</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="date"><span>Data</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="week.name"><span>Trasówka</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="week.name"><span>Sklepy</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in vm.days track by day.id">
            <td><a ui-sref="day-detail({id:day.id})">{{day.id}}</a></td>
            <td>{{day.name}}</td>
            <td>{{day.date | date:'yyyy-MM-dd'}}</td>
            <td>
                <a ui-sref="week-detail({id:day.week.id})">{{day.week.name}}</a>
            </td>
            <td>
                <!--<p ng-repeat="store in day.stores">-->
                    <!--{{store.name}}-->
                <!--</p>-->
                <!--<select class="form-control" id="field_store" multiple name="store" ng-model="day.stores" ng-options="store as store.name for store in day.stores track by store.id"></select>-->

                <span ng-repeat="store in day.stores">
                <a ui-sref="store-detail({id: store.id})">{{store.name}}</a>, {{store.city}}, {{store.street}}</br>
            </span>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="day-detail({id:day.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="day.edit({id:day.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="day.delete({id:day.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
</div>
<br/>
<h3>Raporty trasówki</h3>
<br/>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse">
            <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="description"><span>Opis</span> <span class="glyphicon glyphicon-sort"></span></th>

            <th jh-sort-by="date"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="person.surname"><span>PH</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="store.name"><span>Sklep</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_a"><span translate="cechiniApp.raport.z_a">2L NGAZ</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_b"><span translate="cechiniApp.raport.z_b">2L GAZ</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_c"><span translate="cechiniApp.raport.z_c">0,33L</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_d"><span translate="cechiniApp.raport.z_d">CYT</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="z_e"><span translate="cechiniApp.raport.z_e">Gratisy</span> <span class="glyphicon glyphicon-sort"></span></th>

            <th jh-sort-by="foto1"><span>Zdjęcia</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="raport in vm.raports track by raport.id">
            <td><a ui-sref="raport-detail({id:raport.id})">{{raport.id}}</a></td>
            <td>{{raport.description}}</td>

            <td>{{raport.date | date:'yyyy-MM-dd'}}</td>
            <td>
                <a ui-sref="person-detail({id:raport.person.id})">{{raport.person.surname}}</a>
            </td>
            <td>
                <a ui-sref="store-detail({id:raport.store.id})">{{raport.store.name}}</a>
            </td>
            <td>{{raport.z_a}}</td>
            <td>{{raport.z_b}}</td>
            <td>{{raport.z_c}}</td>
            <td>{{raport.z_d}}</td>
            <td>{{raport.z_e}}</td>

            <td>
                <img ng-if="raport.foto1" data-ng-src="{{'data:' + raport.foto1 + ';base64,' + raport.foto1}}" style="max-height: 30px;"/>
                <img ng-if="raport.foto2" data-ng-src="{{'data:' + raport.foto2 + ';base64,' + raport.foto2}}" style="max-height: 30px;"/>
                <img ng-if="raport.foto3" data-ng-src="{{'data:' + raport.foto3 + ';base64,' + raport.foto3}}" style="max-height: 30px;"/>

            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="raport-detail({id:raport.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="raport.edit({id:raport.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="raport.delete({id:raport.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <uib-pagination class="pagination-sm" total-items="vm.totalItems2" ng-model="vm.page2" ng-change="vm.loadPage2(vm.page)"></uib-pagination>
</div>

