
<div>
    <h2><span>Raport:</span> {{vm.raport.store.name}} / {{vm.raport.person.surname}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Opis</span></dt>
        <dd>
            <span>{{vm.raport.description}} <font color="red">{{vm.raport.adminDesc}}</font></span>
        </dd>
        <dt><span>Data</span></dt>
        <dd>
            <span>{{vm.raport.date | date:'yyyy-MM-dd HH:mm'}}</span>
        </dd>
        <dt><span>PH</span></dt>
        <dd>
            <a ui-sref="person-detail({id:vm.raport.person.id})">{{vm.raport.person.surname}}</a>
        </dd>
        <dt><span>Sklep</span></dt>
        <dd>
            <a ui-sref="store-detail({id:vm.raport.store.id})">{{vm.raport.store.name}}</a>
        </dd>
		<dt><span>Adres</span></dt>
        <dd>
           {{vm.raport.store.street}}, {{vm.raport.store.address.city}}
        </dd>
        <dt><span>Hurtownia</span></dt>
        <dd>
            <a ui-sref="warehouse-detail({id:vm.raport.warehouse.id})">{{vm.raport.warehouse.name}}</a>
        </dd>
        <dt><span translate="cechiniApp.raport.z_a">2L NGAZ</span></dt>
        <dd>
            <span>{{vm.raport.z_a}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_b">2L GAZ</span></dt>
        <dd>
            <span>{{vm.raport.z_b}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_c">0,33L</span></dt>
        <dd>
            <span>{{vm.raport.z_c}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_d">0,33L CYT</span></dt>
        <dd>
            <span>{{vm.raport.z_d}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_f">2L NGAZ (BIAŁA)</span></dt>
        <dd>
            <span>{{vm.raport.z_f}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_g">0,75L SPORT</span></dt>
        <dd>
            <span>{{vm.raport.z_g}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_h">0,33L SZKŁO</span></dt>
        <dd>
            <span>{{vm.raport.z_h}}</span>
        </dd>
        <dt><span translate="cechiniApp.raport.z_e">Gratisy</span></dt>
        <dd>
            <span>{{vm.raport.z_e}}</span>
        </dd>
        <dt><span>Foto 1</span></dt>
        <dd>
            <div ng-if="vm.raport.foto1">
                <a ng-click="vm.openFile(vm.raport.foto1ContentType, vm.raport.foto1)">
                    <img data-ng-src="{{'data:' + vm.raport.foto1ContentType + ';base64,' + vm.raport.foto1}}" style="max-width: 100%;"/>
                </a>
                {{vm.raport.foto1ContentType}}, {{vm.byteSize(vm.raport.foto1)}}
            </div>
        </dd>
        <dt><span>Foto 2</span></dt>
        <dd>
            <div ng-if="vm.raport.foto2">
                <a ng-click="vm.openFile(vm.raport.foto2ContentType, vm.raport.foto2)">
                    <img data-ng-src="{{'data:' + vm.raport.foto2ContentType + ';base64,' + vm.raport.foto2}}" style="max-width: 100%;"/>
                </a>
                {{vm.raport.foto2ContentType}}, {{vm.byteSize(vm.raport.foto2)}}
            </div>
        </dd>
        <dt><span>Foto 3</span></dt>
        <dd>
            <div ng-if="vm.raport.foto3">
                <a ng-click="vm.openFile(vm.raport.foto3ContentType, vm.raport.foto3)">
                    <img data-ng-src="{{'data:' + vm.raport.foto3ContentType + ';base64,' + vm.raport.foto3}}" style="max-width: 100%;"/>
                </a>
                {{vm.raport.foto3ContentType}}, {{vm.byteSize(vm.raport.foto3)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="raport-detail.edit({id:vm.raport.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
