<div>
    <h2>Raporty</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="raport.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Dodaj raport
                    </span>
                </button>

                <!--<h5>2L NGAZ: <b>{{vm.a}}</b></h5>-->
                <!--<h5>2L GAZ:  <b>{{vm.b}}</b></h5>-->
                <!--<h5>0,33L:   <b>{{vm.c}}</b></h5>-->
                <!--<h5>CYT:     <b>{{vm.d}}</b></h5>-->
                <!--<h5>Gratisy: <b>{{vm.e}}</b></h5>-->

            </div>
            <div class="col-xs-8 no-padding-right">
				 <div class="row">
					<div class="col-md-5">
						<h4>Filtrowanie</h4>
						<p class="input-group">
							<span class="input-group-addon">data od</span>
							<input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.loadAll()" required/>
							<span class="input-group-addon">data do</span>
							<input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.loadAll()" required/>
						</p>
                        <span class="input-group-addon">Przedstawiciel</span>
                        <select class="form-control" id="field_person" name="person" ng-model="vm.ph" ng-change="vm.loadAll()" ng-options="person as person.surname+' '+person.name for person in vm.people track by person.id" required>
                            <option value=""></option>
                        </select>
                        <span class="input-group-addon">Sklep</span>
                        <select class="form-control" id="field_store" name="store" ng-model="vm.store" ng-change="vm.loadAll()" ng-options="store as store.name+', '+store.street+', '+store.city for store in vm.stores track by store.id" required>
                            <option value=""></option>
                        </select>
                        <!--<span class="input-group-addon">Hurtownia</span>-->
                        <!--<select class="form-control" id="field_warehouse" name="warehouse" ng-model="vm.warehouse" ng-change="vm.loadAll()" ng-options="warehouse as warehouse.name for warehouse in vm.warehouses track by warehouse.id" required>-->
                            <!--<option value=""></option>-->
                        <!--</select>-->
                        <span class="input-group-addon">Grupa sklepu</span>
                        <select class="form-control" id="field_storegroup" name="storegroup" ng-model="vm.storegroup" ng-change="vm.loadAll()" ng-options="storegroup as storegroup.name for storegroup in vm.storegroups track by storegroup.id" required>
                            <option value=""></option>
                        </select>
					</div>
				</div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.surname"><span>PH</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date" width="90px"><span>Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="store.name"><span>Sklep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="store.name"><span>Ulica</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="store.name"><span>Hurtownia</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="z_a"><span translate="cechiniApp.raport.z_a">2L NGAZ</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_b"><span translate="cechiniApp.raport.z_b">2L GAZ</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_c"><span translate="cechiniApp.raport.z_c">0,33L</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_d"><span translate="cechiniApp.raport.z_d">CYT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_f"><span translate="cechiniApp.raport.z_f">2L NGAZ (BIAŁA)</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_g"><span translate="cechiniApp.raport.z_g">0,75L SPORT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_h"><span translate="cechiniApp.raport.z_h">0,33L SZKŁO</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="z_e"><span translate="cechiniApp.raport.z_e">Gratisy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th>Grupa</th>
                    <th jh-sort-by="description"><span>Opis</span> <span class="glyphicon glyphicon-sort"></span></th>

					<th jh-sort-by="foto1"><span>Zdjęcia</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="raport in vm.raports track by raport.id">
                    <td><a ui-sref="raport-detail({id:raport.id})">{{raport.id}}</a></td>
                    <td>
                        <a ui-sref="person-detail({id:raport.person.id})">{{raport.person.surname}}</a>
                    </td>
                    <td>{{raport.date | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <a ui-sref="store-detail({id:raport.store.id})">{{raport.store.name}}</a>,
                            {{raport.store.city}}
                    </td>
                    <td>{{raport.store.street}}</td>
                    <td>
                        <a ui-sref="warehouse-detail({id:raport.warehouse.id})">
                        {{raport.warehouse.name}}
                        </a>
                    </td>
                    <td>{{raport.z_a}}</td>
                    <td>{{raport.z_b}}</td>
                    <td>{{raport.z_c}}</td>
                    <td>{{raport.z_d}}</td>
                    <td>{{raport.z_f}}</td>
                    <td>{{raport.z_g}}</td>
                    <td>{{raport.z_h}}</td>
                    <td>{{raport.z_e}}</td>
                    <td>{{raport.store.storegroup.name}}</td>
                    <td>{{raport.description}} <font color="red">{{raport.adminDesc}}</font></td>

                    <td>
                        <a ng-if="raport.foto1" ng-click="vm.openFile(raport.foto1ContentType, raport.foto1)">
                            <img data-ng-src="{{'data:' + raport.foto1ContentType + ';base64,' + raport.foto1}}" style="max-height: 30px;"/>
                        </a>
                        <a ng-if="raport.foto2" ng-click="vm.openFile(raport.foto2ContentType, raport.foto2)">
                            <img data-ng-src="{{'data:' + raport.foto2ContentType + ';base64,' + raport.foto2}}" style="max-height: 30px;"/>
                        </a>
                        <a ng-if="raport.foto3" ng-click="vm.openFile(raport.foto3ContentType, raport.foto3)">
                            <img data-ng-src="{{'data:' + raport.foto3ContentType + ';base64,' + raport.foto3}}" style="max-height: 30px;"/>
                        </a>

                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="raport-detail({id:raport.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="raport.edit({id:raport.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="raport.delete({id:raport.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
				<tr>
					<td>Suma*:</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><b>{{vm.a}}</b></td>
					<td><b>{{vm.b}}</b></td>
					<td><b>{{vm.c}}</b></td>
					<td><b>{{vm.d}}</b></td>
					<td><b>{{vm.e}}</b></td>
                    <td><b>{{vm.f}}</b></td>
                    <td><b>{{vm.g}}</b></td>
                    <td><b>{{vm.h}}</b></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
    </div>



<h6>*Suma: sumowane są pola z wszystkich stron prezentowanej listy raportów</h6>
</div>
